{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": { "name": "MIT" },
    "version": "1.0.0"
  },
  "servers": [ { "url": "https://api.gameball.co" } ],
  "security": [ { "bearerAuth": [] } ],
  "paths": {
    "/api/v4.0/integrations/customers": {
      "post": {
        "summary": "Create Customer",
        "description": "Create or update a customer profile in Gameball using a unique customerId. Serving as a consistent identity, this customerId allows you to track a customer's entire journey.",
        "operationId": "createCustomer",
        "security": [ { "apiKey": [] } ],
        "requestBody": {
          "description": "Customer payload containing identifiers and attributes.",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpsertCustomerRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created or updated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpsertCustomerResponse" }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/customers/{customerId}": {
      "get": {
        "summary": "Get Customer",
        "description": "Retrieve essential customer information from Gameball using a unique customerId. Returns general customer info (no personal data) with the public key.",
        "operationId": "getCustomer",
        "security": [{ "apiKey": [] }],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier for the customer"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          },
          "404": { "description": "Customer not found" }
        }
      },
      "delete": {
        "summary": "Delete Customer",
        "description": "Remove a customer profile and associated data from the system.",
        "operationId": "deleteCustomer",
        "security": [{ "apiKey": [] }, { "secretKey": [] }],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier for the customer"
          }
        ],
        "responses": {
          "200": { "description": "Customer deleted successfully" },
          "404": { "description": "Customer not found" }
        }
      }
    },
    "/api/v4.0/integrations/customers/{customerId}/details": {
      "get": {
        "summary": "Get Customer Details",
        "description": "Retrieve comprehensive customer information including personally identifiable information (PII).",
        "operationId": "getCustomerDetails",
        "security": [{ "apiKey": [] }, { "secretKey": [] }],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier for the customer"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerDetailsResponse" }
              }
            }
          },
          "404": { "description": "Customer not found" }
        }
      }
    },
    "/api/v4.0/integrations/customers/{customerId}/coupons": {
      "get": {
        "summary": "Get Customer Coupons",
        "description": "Retrieve customer's available coupons with detailed information on each coupon's type, status, and usage.",
        "operationId": "getCustomerCoupons",
        "security": [{ "apiKey": [] }, { "secretKey": [] }],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier for the customer"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer coupons found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerCouponsResponse" }
              }
            }
          },
          "404": { "description": "Customer not found" }
        }
      }
    },
    "/api/v4.0/integrations/customers/{customerId}/hash": {
      "get": {
        "summary": "Get Customer Hash",
        "description": "Generate a hash for an existing customer based on their unique customerId.",
        "operationId": "getCustomerHash",
        "security": [{ "apiKey": [] }, { "secretKey": [] }],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier for the customer"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer hash generated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerHashResponse" }
              }
            }
          },
          "404": { "description": "Customer not found" }
        }
      }
    },
    "/api/v4.0/integrations/referrals/validate": {
      "get": {
        "summary": "Validate Referrer Code",
        "description": "Validate whether a provided referral code is valid and eligible for use during customer signup.",
        "operationId": "validateReferrerCode",
        "security": [{ "apiKey": [] }],
        "parameters": [
          {
            "name": "referrerCode",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The referral code to validate"
          },
          {
            "name": "forCustomerId",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Customer ID to prevent self-referral"
          }
        ],
        "responses": {
          "200": {
            "description": "Referral code validation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReferralValidationResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v4.0/integrations/payments": {
      "post": {
        "description": "Track a new payment to reward customer transactions and manage loyalty accrual.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "paymentId", "paymentDate", "totalPaid"],
                "properties": {
                  "customerId": { "type": "string" },
                  "email": { "type": "string" },
                  "mobile": { "type": "string" },
                  "paymentId": { "type": "string" },
                  "paymentDate": { "type": "string", "format": "date-time" },
                  "totalPaid": { "type": "number" },
                  "totalAmount": { "type": "number" },
                  "totalDiscount": { "type": "number" },
                  "totalProcessingFees": { "type": "number" },
                  "totalTax": { "type": "number" },
                  "paymentDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "serviceId": { "type": "string" },
                        "serviceName": { "type": "string" },
                        "serviceProvider": { "type": "string" },
                        "amount": { "type": "number" },
                        "tax": { "type": "number" },
                        "discount": { "type": "number" },
                        "tags": { "type": "array", "items": { "type": "string" } },
                        "category": { "type": "array", "items": { "type": "string" } },
                        "extra": { "type": "object", "additionalProperties": true }
                      }
                    }
                  },
                  "redemption": {
                    "type": "object",
                    "properties": {
                      "pointsHoldReference": { "type": "string" },
                      "couponsLockReference": { "type": "string" },
                      "couponCodes": { "type": "array", "items": { "type": "string" } }
                    }
                  },
                  "extra": { "type": "object", "additionalProperties": true },
                  "merchant": {
                    "type": "object",
                    "properties": {
                      "uniqueId": { "type": "string" },
                      "name": { "type": "string" },
                      "branch": {
                        "type": "object",
                        "required": ["uniqueId"],
                        "properties": {
                          "uniqueId": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  },
                  "guest": { "type": "boolean" },
                  "channel": { "type": "string", "enum": ["mobile", "pos", "web", "callcenter"] },
                  "cashbackConfigurations": {
                    "type": "object",
                    "properties": {
                      "returnWindow": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment tracked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerId": { "type": "string" },
                    "redeemedPoints": { "type": "number" },
                    "rewardedPoints": { "type": "number" },
                    "paymentDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "serviceId": { "type": "string" },
                          "decimalPoints": { "type": "number" },
                          "points": { "type": "number" },
                          "score": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/redeem": {
      "post": {
        "description": "Redeem loyalty points as a payment method for customer transactions.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "points", "transactionId"],
                "properties": {
                  "customerId": { "type": "string" },
                  "points": { "type": "number" },
                  "transactionId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Points redeemed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "remainingPoints": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/cashback": {
      "post": {
        "description": "Issue cashback rewards to customers for their transactions.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "amount", "transactionId"],
                "properties": {
                  "customerId": { "type": "string" },
                  "amount": { "type": "number" },
                  "transactionId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cashback issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "newBalance": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/refund": {
      "post": {
        "description": "Process refunds for previous point redemption transactions.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "originalTransactionId", "refundAmount"],
                "properties": {
                  "customerId": { "type": "string" },
                  "originalTransactionId": { "type": "string" },
                  "refundAmount": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "refundedPoints": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/hold": {
      "post": {
        "description": "Place points on hold before redemption to reserve them for a specific transaction.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "points", "holdReference"],
                "properties": {
                  "customerId": { "type": "string" },
                  "points": { "type": "number" },
                  "holdReference": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Points placed on hold successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "holdReference": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/release": {
      "post": {
        "description": "Release held points for redemption or cancel the hold.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["holdReference", "action"],
                "properties": {
                  "holdReference": { "type": "string" },
                  "action": { "type": "string", "enum": ["redeem", "cancel"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hold released successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "pointsReleased": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/hold/{holdReference}": {
      "get": {
        "description": "Retrieve details of held points for a specific hold reference.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "parameters": [
          {
            "name": "holdReference",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Hold details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "holdReference": { "type": "string" },
                    "customerId": { "type": "string" },
                    "pointsHeld": { "type": "number" },
                    "holdDate": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions": {
      "get": {
        "description": "Retrieve customer transaction history with filtering and pagination options.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": { "type": "array", "items": { "type": "object" } },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/manual": {
      "post": {
        "description": "Add manual point adjustments to customer accounts.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "points", "reason"],
                "properties": {
                  "customerId": { "type": "string" },
                  "points": { "type": "number" },
                  "reason": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Manual transaction added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "newBalance": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/otp": {
      "post": {
        "description": "Generate one-time password for transaction verification.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "transactionId"],
                "properties": {
                  "customerId": { "type": "string" },
                  "transactionId": { "type": "string" },
                  "mobile": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "otpId": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/transactions/otp/validate": {
      "post": {
        "description": "Validate OTP to authorize transaction.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["otpId", "otpCode", "transactionId"],
                "properties": {
                  "otpId": { "type": "string" },
                  "otpCode": { "type": "string" },
                  "transactionId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "authorized": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/coupons/predefined": {
      "post": {
        "description": "Create a coupon based on predefined redemption rules.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "ruleId"],
                "properties": {
                  "customerId": { "type": "string" },
                  "email": { "type": "string" },
                  "mobile": { "type": "string" },
                  "ruleId": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "startDate": { "type": "string", "format": "date-time" },
                    "expiryDate": { "type": "string", "format": "date-time" },
                    "url": { "type": "string" },
                    "pin": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/coupons/{code}/validate": {
      "post": {
        "description": "Validate a single coupon and optionally lock it for exclusive use.",
        "security": [ { "apiKey": [] } ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId"],
                "properties": {
                  "customerId": { "type": "string" },
                  "email": { "type": "string" },
                  "mobile": { "type": "string" },
                  "lock": { "type": "boolean" },
                  "pin": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isValid": { "type": "boolean" },
                    "lockReference": { "type": "string" },
                    "discountAmount": { "type": "number" },
                    "discountType": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/coupons/validate": {
      "post": {
        "description": "Validate multiple coupons at once and optionally lock them for exclusive use.",
        "security": [ { "apiKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "coupons"],
                "properties": {
                  "customerId": { "type": "string" },
                  "email": { "type": "string" },
                  "mobile": { "type": "string" },
                  "coupons": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["code"],
                      "properties": {
                        "code": { "type": "string" },
                        "pin": { "type": "string" }
                      }
                    }
                  },
                  "lock": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupons validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "validCoupons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "lockReference": { "type": "string" },
                          "discountAmount": { "type": "number" },
                          "discountType": { "type": "string" }
                        }
                      }
                    },
                    "invalidCoupons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "error": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/coupons/{code}/burn": {
      "post": {
        "description": "Mark a coupon as used/consumed to prevent further usage.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId"],
                "properties": {
                  "customerId": { "type": "string" },
                  "email": { "type": "string" },
                  "mobile": { "type": "string" },
                  "lockReference": { "type": "string" },
                  "pin": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon burned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "burnedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/coupons/{lockReference}": {
      "get": {
        "description": "Retrieve details of locked coupons using the lock reference.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "parameters": [
          {
            "name": "lockReference",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lock details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lockReference": { "type": "string" },
                    "customerId": { "type": "string" },
                    "lockedCoupons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "lockedAt": { "type": "string", "format": "date-time" },
                          "expiresAt": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "delete": {
        "description": "Release locked coupons to make them available for use again.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "parameters": [
          {
            "name": "lockReference",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Coupons released successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "releasedAt": { "type": "string", "format": "date-time" },
                    "releasedCoupons": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/coupons/automatic": {
      "post": {
        "description": "Apply predefined automatic coupons based on specific promotional criteria.",
        "security": [ { "apiKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "cartId"],
                "properties": {
                  "customerId": { "type": "string" },
                  "email": { "type": "string" },
                  "mobile": { "type": "string" },
                  "cartId": { "type": "string" },
                  "totalPrice": { "type": "number" },
                  "totalShipping": { "type": "number" },
                  "lineItems": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": { "type": "string" },
                        "quantity": { "type": "number" },
                        "price": { "type": "number" },
                        "sku": { "type": "string" },
                        "tags": { "type": "array", "items": { "type": "string" } },
                        "category": { "type": "array", "items": { "type": "string" } },
                        "weight": { "type": "number" },
                        "vendor": { "type": "string" },
                        "collection": { "type": "array", "items": { "type": "string" } },
                        "title": { "type": "string" },
                        "taxes": { "type": "number" },
                        "discount": { "type": "number" },
                        "extra": { "type": "object", "additionalProperties": true }
                      }
                    }
                  },
                  "merchant": {
                    "type": "object",
                    "properties": {
                      "uniqueId": { "type": "string" },
                      "name": { "type": "string" },
                      "branch": {
                        "type": "object",
                        "required": ["uniqueId"],
                        "properties": {
                          "uniqueId": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automatic coupon applied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isApplied": { "type": "boolean" },
                    "couponName": { "type": "string" },
                    "discountAmount": { "type": "number" },
                    "discountType": { "type": "string", "enum": ["shipping", "fixed", "percentage", "product", "buyXgetY"] },
                    "discountedItems": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productId": { "type": "string" },
                          "quantity": { "type": "number" },
                          "discount": { "type": "number" },
                          "price": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/configurations/rewards/cashback": {
      "get": {
        "description": "Retrieve cashback configuration settings for the loyalty program.",
        "security": [ { "apiKey": [] } ],
        "responses": {
          "200": {
            "description": "Cashback settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rate": { "type": "number" },
                    "minimumOrderValue": { "type": "number" },
                    "maximumCashback": { "type": "number" },
                    "enabled": { "type": "boolean" },
                    "categories": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/configurations/rewards/redemption": {
      "get": {
        "description": "Retrieve point redemption configuration settings for the loyalty program.",
        "security": [ { "apiKey": [] } ],
        "responses": {
          "200": {
            "description": "Redemption settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minimumPoints": { "type": "number" },
                    "pointValue": { "type": "number" },
                    "maximumRedemption": { "type": "number" },
                    "enabled": { "type": "boolean" },
                    "redemptionMethods": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/configurations/rewards/coupons": {
      "get": {
        "description": "Retrieve coupon system configuration settings for the loyalty program.",
        "security": [ { "apiKey": [] } ],
        "responses": {
          "200": {
            "description": "Coupon settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": { "type": "boolean" },
                    "maximumCoupons": { "type": "number" },
                    "couponTypes": { "type": "array", "items": { "type": "string" } },
                    "expirationSettings": {
                      "type": "object",
                      "properties": {
                        "defaultExpiryDays": { "type": "number" },
                        "maxExpiryDays": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "put": {
        "description": "Update coupon system configuration settings for the loyalty program.",
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": { "type": "boolean" },
                  "maximumCoupons": { "type": "number" },
                  "couponTypes": { "type": "array", "items": { "type": "string" } },
                  "expirationSettings": {
                    "type": "object",
                    "properties": {
                      "defaultExpiryDays": { "type": "number" },
                      "maxExpiryDays": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/configurations/program/campaigns": {
      "get": {
        "description": "Retrieve active campaigns configuration for the loyalty program.",
        "security": [ { "apiKey": [] } ],
        "responses": {
          "200": {
            "description": "Campaigns retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "description": { "type": "string" },
                          "startDate": { "type": "string", "format": "date-time" },
                          "endDate": { "type": "string", "format": "date-time" },
                          "isActive": { "type": "boolean" },
                          "rewardType": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/configurations/program/tiers": {
      "get": {
        "description": "Retrieve VIP tier configurations for the loyalty program.",
        "security": [ { "apiKey": [] } ],
        "responses": {
          "200": {
            "description": "VIP tiers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tiers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "minimumPoints": { "type": "number" },
                          "benefits": { "type": "array", "items": { "type": "string" } },
                          "color": { "type": "string" },
                          "isActive": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/configurations/program/referrals": {
      "get": {
        "description": "Retrieve referral program configuration for the loyalty program.",
        "security": [ { "apiKey": [] } ],
        "responses": {
          "200": {
            "description": "Referral settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": { "type": "boolean" },
                    "referrerReward": { "type": "number" },
                    "refereeReward": { "type": "number" },
                    "minimumReferrals": { "type": "number" },
                    "referralCodeLength": { "type": "number" },
                    "expirationDays": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/configurations/widget": {
      "get": {
        "description": "Retrieve styling settings, including colors and other visual elements for the Gameball widget.",
        "security": [ { "apiKey": [] } ],
        "responses": {
          "200": {
            "description": "Widget configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "colors": {
                      "type": "object",
                      "properties": {
                        "primary": { "type": "string" },
                        "secondary": { "type": "string" },
                        "accent": { "type": "string" },
                        "background": { "type": "string" },
                        "text": { "type": "string" }
                      }
                    },
                    "layout": {
                      "type": "object",
                      "properties": {
                        "position": { "type": "string", "enum": ["bottom-right", "bottom-left", "top-right", "top-left"] },
                        "size": { "type": "string", "enum": ["small", "medium", "large"] },
                        "showOnMobile": { "type": "boolean" }
                      }
                    },
                    "features": {
                      "type": "object",
                      "properties": {
                        "showBalance": { "type": "boolean" },
                        "showPoints": { "type": "boolean" },
                        "showTier": { "type": "boolean" },
                        "showNotifications": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/leaderboard": {
      "get": {
        "description": "Retrieve leaderboard rankings of customers within your loyalty program in Gameball, either for a specific date range or for all time.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The start date of the leaderboard range. If not provided, the leaderboard shows all-time data.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end date of the leaderboard range. If not provided, the leaderboard shows all-time data.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Unique identifier for the customer that you can reference across the customer's whole lifetime. It is used to get the rank of this customer in the leaderboard.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rewardCampaignId",
            "in": "query",
            "description": "Filter leaderboard results based on a specific reward campaign.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "customerTag",
            "in": "query",
            "description": "Filter results by customers who are tagged with a specific tag.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rewardCampaignTag",
            "in": "query",
            "description": "Filter leaderboard results by reward campaign tags.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leaderboard": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": { "type": "string" },
                          "customerId": { "type": "string" },
                          "progress": { "type": "number" },
                          "rank": { "type": "number" },
                          "tierName": { "type": "string" },
                          "tierIcon": { "type": "string" }
                        }
                      }
                    },
                    "customerRank": { "type": "number" },
                    "customersCount": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batch/customers": {
      "post": {
        "description": "Create or update multiple customer profiles in a single API call for bulk user imports and mass profile updates.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["customerId"],
                      "properties": {
                        "customerId": { "type": "string", "description": "Unique identifier for the customer that you can reference across the customer's whole lifetime. Could be a database ID, random string, email, or anything that uniquely identifies the customer." },
                        "email": { "type": "string", "description": "Customer's email address. Required if your account uses email-based channel merging." },
                        "mobile": { "type": "string", "description": "Customer's mobile number. Required if your account uses mobile-based channel merging." },
                        "deviceToken": { "type": "string", "description": "Token used to identify the device." },
                        "osType": { "type": "string", "description": "Operating system type of the device." },
                        "customerAttributes": {
                          "type": "object",
                          "description": "Additional customer-specific attributes. Includes attributes such as the customer's name, contact details, and purchase history.",
                          "properties": {
                            "displayName": { "type": "string" },
                            "firstName": { "type": "string" },
                            "lastName": { "type": "string" },
                            "email": { "type": "string" },
                            "gender": { "type": "string" },
                            "mobile": { "type": "string" },
                            "dateOfBirth": { "type": "string" },
                            "joinDate": { "type": "string" },
                            "country": { "type": "string" },
                            "city": { "type": "string" },
                            "zip": { "type": "string" },
                            "preferredLanguage": { "type": "string" },
                            "tags": { "type": "string" },
                            "source": { "type": "string" },
                            "utms": { "type": "array" },
                            "devices": { "type": "array" },
                            "paymentMethods": { "type": "array" },
                            "totalSpent": { "type": "number" },
                            "lastOrderDate": { "type": "string" },
                            "totalOrders": { "type": "integer" },
                            "avgOrderAmount": { "type": "number" },
                            "channel": { "type": "string" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch customer data processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "number", "description": "The assigned job ID, which is later used for status verification and response retrieval." }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batch/orders": {
      "post": {
        "description": "Register multiple orders for single or multiple customers in a single API call for efficient order management and tracking.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["customerId", "orderId", "orderDate", "totalPaid"],
                      "properties": {
                        "customerId": { "type": "string", "description": "Unique identifier for the customer." },
                        "orderId": { "type": "string", "description": "Unique identifier for the order." },
                        "orderDate": { "type": "string", "format": "date-time", "description": "Date and time of the order." },
                        "totalPaid": { "type": "number", "description": "Total amount paid for the order." }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch order processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "number", "description": "The assigned job ID, which is later used for status verification and response retrieval." }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batch/balance-inquiry": {
      "post": {
        "description": "Retrieve customer loyalty balances for multiple customers in a single API call for efficient balance management.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["customerId"],
                      "properties": {
                        "customerId": { "type": "string", "description": "Unique identifier for the customer." }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch balance inquiry processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "number", "description": "The assigned job ID, which is later used for status verification and response retrieval." }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batch/balance-adjustment": {
      "post": {
        "description": "Adjust customer loyalty balances for multiple customers in a single API call for efficient balance management.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["customerId", "amount"],
                      "properties": {
                        "customerId": { "type": "string", "description": "Unique identifier for the customer." },
                        "amount": { "type": "number", "description": "Amount to adjust the balance by." },
                        "reason": { "type": "string", "description": "Reason for the balance adjustment." }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch balance adjustment processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "number", "description": "The assigned job ID, which is later used for status verification and response retrieval." }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batch/cashback": {
      "post": {
        "description": "Award loyalty points to customers through cashback program for multiple customers in a single API call.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["customerId", "transactionId", "transactionTime", "amount"],
                      "properties": {
                        "customerId": { "type": "string", "description": "Unique identifier for the customer that you can reference across the customer's whole lifetime." },
                        "email": { "type": "string", "description": "Customer's email address. Required if your account uses email-based channel merging." },
                        "mobile": { "type": "string", "description": "Customer's mobile number. Required if your account uses mobile-based channel merging." },
                        "transactionId": { "type": "string", "description": "A unique identifier for a transaction in your system (e.g., order number or invoice number)." },
                        "transactionTime": { "type": "string", "format": "date-time", "description": "The time of the transaction in your system." },
                        "amount": { "type": "number", "description": "Monetary value of the transaction for which the customer will be rewarded." }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch cashback reward processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "number", "description": "The assigned job ID, which is later used for status verification and response retrieval." }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batch/redeem": {
      "post": {
        "description": "Enable customers to redeem loyalty points as a payment method for multiple customers in a single API call.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["customerId", "transactionId", "transactionTime"],
                      "properties": {
                        "customerId": { "type": "string", "description": "Unique identifier for the customer that you can reference across the customer's whole lifetime." },
                        "email": { "type": "string", "description": "Customer's email address. Required if your account uses email-based channel merging." },
                        "mobile": { "type": "string", "description": "Customer's mobile number. Required if your account uses mobile-based channel merging." },
                        "transactionId": { "type": "string", "description": "A unique identifier for a transaction in your system (e.g., order number or invoice number)." },
                        "transactionTime": { "type": "string", "format": "date-time", "description": "The time of the transaction in your system." },
                        "amount": { "type": "number", "description": "The actual monetary value the customer wants to redeem." },
                        "points": { "type": "integer", "description": "The number of points the customer wants to redeem from their balance." },
                        "holdReference": { "type": "string", "description": "A unique reference obtained from the Hold Points API." }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch redemption processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "number", "description": "The assigned job ID, which is later used for status verification and response retrieval." }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batch/events": {
      "post": {
        "description": "Track multiple user actions or multiple actions for a single user in a single API call for efficient event tracking and analytics.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["customerId", "events"],
                      "properties": {
                        "customerId": { "type": "string", "description": "Unique identifier for the customer." },
                        "events": {
                          "type": "object",
                          "description": "Object containing event names as keys and their metadata as values.",
                          "additionalProperties": {
                            "type": "object",
                            "description": "Event metadata containing relevant attributes for the event."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch event processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "number", "description": "The assigned job ID, which is later used for status verification and response retrieval." }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batches/{batchId}/status": {
      "get": {
        "description": "Monitor batch job status and results for ongoing batch operations.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier for the batch operation"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batchId": { "type": "string" },
                    "status": { "type": "string", "enum": ["pending", "processing", "completed", "failed"] },
                    "progress": { "type": "number" },
                    "totalItems": { "type": "number" },
                    "processedItems": { "type": "number" },
                    "failedItems": { "type": "number" },
                    "results": { "type": "array" },
                    "errors": { "type": "array" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/batches/{batchId}/stop": {
      "post": {
        "description": "Stop ongoing batch operations when needed.",
        "security": [
          { "apiKey": [] },
          { "secretKey": [] }
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier for the batch operation"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch operation stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batchId": { "type": "string" },
                    "status": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v4.0/integrations/orders": {
      "post": {
        "summary": "Track Order",
        "description": "The API call is used to track a new order and is specifically designed for e-commerce solutions. It helps capture essential order details, enabling better tracking of customer purchases and order management.\n\n**Security:** Requires both `apikey` and `secretkey` headers.\n\n**Channel Merging Available:** If your system uses different customer IDs across multiple channels (e.g., online and offline), Gameball's channel merging feature helps unify customer profiles. By including the customer's mobile number or email (based on your merging configuration) with each request, Gameball will combine activities into a single profile.",
        "operationId": "trackOrder",
        "tags": ["Orders"],
        "security": [ { "apiKey": [] }, { "secretKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "orderId", "orderDate", "totalPaid"],
                "properties": {
                  "customerId": { 
                    "type": "string",
                    "description": "Unique identifier for the customer that you can reference across the customer's whole lifetime. Could be a database ID, random string, email or anything that uniquely identifies the customer.",
                    "example": "cust_123456789"
                  },
                  "email": { 
                    "type": "string",
                    "description": "Customer's email address. **Note:** This is required if your account uses email-based channel merging.",
                    "example": "john.doe@example.com"
                  },
                  "mobile": { 
                    "type": "string",
                    "description": "Customer's mobile number. **Note:** This is required if your account uses mobile-based channel merging.",
                    "example": "+1234567890"
                  },
                  "orderId": { 
                    "type": "string",
                    "description": "Unique identifier for the order on your system. This ID is case-sensitive.",
                    "example": "ORD12345"
                  },
                  "orderDate": { 
                    "type": "string", 
                    "format": "date-time",
                    "description": "Timestamp of when the order was placed.",
                    "example": "2024-10-16T08:13:29.290Z"
                  },
                  "totalPaid": { 
                    "type": "number",
                    "description": "The actual amount paid by the customer for the order, accounting for any discounts or coupons applied. Unlike `totalPrice`, which reflects the original cost of the order, `totalPaid` represents the final amount the customer paid at checkout after all adjustments. This value is used for reward calculations in Gameball to determine the points or benefits earned from the order. **Example:** A customer purchases items worth $120, including taxes and shipping. If a $20 coupon is applied, the `totalPaid` becomes $100, reflecting the discounted amount the customer paid.",
                    "example": 250.75
                  },
                  "totalPrice": { 
                    "type": "number",
                    "description": "The total cost of the order, including all item prices, shipping, taxes, and tips. This value does not account for any discounts or coupons applied and is not used for calculations in Gameball; it is solely saved as historical data linked to the order. Must be a positive value. **Example:** A customer purchases items worth $120, including taxes and shipping. Even if a $20 coupon is applied, the totalPrice remains $120 as it represents the original cost of the order before any discounts are applied.",
                    "example": 300
                  },
                  "totalDiscount": { 
                    "type": "number",
                    "description": "Total discount applied to the order.",
                    "example": 50
                  },
                  "totalShipping": { 
                    "type": "number",
                    "description": "Total shipping cost associated with the order.",
                    "example": 10
                  },
                  "totalTax": { 
                    "type": "number",
                    "description": "Total tax amount for the order.",
                    "example": 15
                  },
                  "lineItems": {
                    "type": "array",
                    "description": "An array containing details about each product in the order. If not provided, the calculation will only consider the total order values.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": { 
                          "type": "string",
                          "description": "Unique identifier for the product or service being purchased.",
                          "example": "PROD98765"
                        },
                        "quantity": { 
                          "type": "number",
                          "description": "Number of units purchased for this product or service.",
                          "example": 2
                        },
                        "price": { 
                          "type": "number",
                          "description": "The original price of a single product before any tax or discount is applied. This reflects the cost of one unit of the item, not the total for multiple quantities in an order. **Example:** If the original price of a product is $50 and a customer buys two units, the price for each item would still be recorded as $50, regardless of quantity.",
                          "example": 100
                        },
                        "sku": { 
                          "type": "string",
                          "description": "Stock Keeping Unit (SKU) for the product.",
                          "example": "SKU98765"
                        },
                        "tags": { 
                          "type": "array", 
                          "items": { "type": "string" },
                          "description": "Tags associated with the product for categorization or promotional purposes.",
                          "example": ["electronics", "smartphone"]
                        },
                        "category": { 
                          "type": "array", 
                          "items": { "type": "string" },
                          "description": "Product category, such as fashion or electronics. It can include one or multiple categories.",
                          "example": ["mobile phones"]
                        },
                        "weight": { 
                          "type": "number",
                          "description": "Weight of the product.",
                          "example": 0.5
                        },
                        "vendor": { 
                          "type": "string",
                          "description": "Vendor or manufacturer of the product.",
                          "example": "TechVendor"
                        },
                        "collection": { 
                          "type": "array", 
                          "items": { "type": "string" },
                          "description": "Collection ID(s) to which the product belongs. It can include one or multiple collections.",
                          "example": ["latest gadgets"]
                        },
                        "title": { 
                          "type": "string",
                          "description": "Product title or name.",
                          "example": "Smartphone XYZ"
                        },
                        "taxes": { 
                          "type": "number",
                          "description": "The total amount of taxes applied to the line item, expressed in the shop's currency. This amount must be positive and reflects the total taxes based on the quantity of the item.",
                          "example": 7.5
                        },
                        "discount": { 
                          "type": "number",
                          "description": "The total discount applied to this line item, expressed as a positive value. This amount should reflect the total discounts based on the quantity of the item.",
                          "example": 25
                        },
                        "extra": { 
                          "type": "object", 
                          "additionalProperties": true,
                          "description": "Key-value pairs containing any extra information about the product, such as size, color, or other custom attributes. The values must be of type string or number.",
                          "example": { "subClass": "SUBCLASS123" }
                        }
                      }
                    }
                  },
                  "redemption": {
                    "type": "object",
                    "description": "Redemption details for the order, including points held for redemption.",
                    "properties": {
                      "pointsHoldReference": { 
                        "type": "string",
                        "description": "Reference from the Hold Points API for redeeming held points. For more details on how hold references are generated and utilized, refer to the Transactions section.",
                        "example": "HOLD123"
                      },
                      "couponsLockReference": { 
                        "type": "string",
                        "description": "The lock reference for the coupon is a unique identifier used to 'lock' a coupon for a specific customer or order. This prevents the coupon from being used by others or on multiple transactions. For more details on how to generate and use lock references, refer to the Coupons section.",
                        "example": "LOCK123"
                      },
                      "couponCodes": { 
                        "type": "array", 
                        "items": { "type": "string" },
                        "description": "A list of coupon codes that were applied to the order. Each code in the array represents a different discount or promotional coupon used during the checkout process. Coupon codes must be locked before they can be used for redemption.",
                        "example": ["DISCOUNT10"]
                      }
                    }
                  },
                  "extra": { 
                    "type": "object", 
                    "additionalProperties": true,
                    "description": "Key-value pairs containing any extra information about the order. The values must be of type string or number. **Example:** If your business offers gift options, you might want to include a personalized gift message with the order. Additionally, specific delivery instructions can be recorded to ensure smooth delivery and provide a personalized experience.",
                    "example": { "paymentMethod": "CREDIT CARD" }
                  },
                  "merchant": {
                    "type": "object",
                    "description": "This object contains details about the specific merchant involved in the transaction, which is particularly important for businesses managing multiple merchants or branches under the same Gameball account. This object can provide identifying information about both the main merchant and any associated branch where the transaction took place.",
                    "properties": {
                      "uniqueId": { 
                        "type": "string",
                        "description": "Unique identifier for the merchant.",
                        "example": "MERCH001"
                      },
                      "name": { 
                        "type": "string",
                        "description": "Name of the merchant.",
                        "example": "TechGadgetStore"
                      },
                      "branch": {
                        "type": "object",
                        "description": "Branch information where the order took place.",
                        "properties": {
                          "uniqueId": { 
                            "type": "string",
                            "description": "Unique identifier for the branch where the order took place.",
                            "example": "BRANCH001"
                          },
                          "name": { 
                            "type": "string",
                            "description": "Name of the branch where the order took place.",
                            "example": "Downtown Branch"
                          }
                        }
                      }
                    }
                  },
                  "guest": { 
                    "type": "boolean",
                    "description": "Indicates whether the customer is a guest (not signed up). Set this to `true` for guest users; otherwise, they are treated as registered customers by default.",
                    "default": false,
                    "example": false
                  },
                  "channel": { 
                    "type": "string", 
                    "enum": ["mobile", "pos", "web", "callcenter"],
                    "description": "The channel through which the order was placed helps track the origin of the order, particularly useful for systems that support multiple sales or communication channels. By identifying the channel, you can gain valuable insights into customer behavior, optimize channel-specific strategies, and ensure efficient handling of orders across platforms. **Possible values:** `mobile` - The order was placed through your mobile application. `pos` - The order was placed in person using a Point of Sale (POS) system, such as at a physical store or outlet. `web` - The order was placed through your website. `callcenter` - The order was placed over the phone by contacting a customer service representative or a call center.",
                    "example": "pos"
                  },
                  "cartId": { 
                    "type": "string",
                    "description": "Identifier for the shopping cart associated with the order.",
                    "example": "CART98765"
                  },
                  "cashbackConfigurations": {
                    "type": "object",
                    "description": "This object contains configurations related to the cashback settings.",
                    "properties": {
                      "returnWindow": { 
                        "type": "integer",
                        "description": "The number of days the cashback will stay in a **pending** state, typically aligning with the return window in e-commerce to account for potential order cancellations or refunds. The value should be between **0 and 7,300 days (20 years)**.",
                        "minimum": 0,
                        "maximum": 7300,
                        "example": 7
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerId": { 
                      "type": "string",
                      "description": "Unique identifier for the customer that you can reference across the customer's whole lifetime. Could be a database ID, random string, email or anything that uniquely identifies the customer.",
                      "example": "cust_123456789"
                    },
                    "redeemedPoints": { 
                      "type": "number",
                      "description": "Points redeemed by the customer for this order, if applicable. **Example:** If a customer has accumulated 500 points and decides to redeem 100 points for a discount on their current order, the `redeemedPoints` value for that transaction will be 100. This helps track how many points were used in the transaction and what benefits were applied to the order based on the customer's redeemed points.",
                      "example": 1000
                    },
                    "rewardedPoints": { 
                      "type": "number",
                      "description": "The total number of points rewarded to the customer for making this order. These points are typically awarded based on your configured cashback rewards. **Example:** If the store rewards 10 points for every $1 spent, and a customer places an order worth $50, the **rewardedPoints** for this order would be 500 points.",
                      "example": 101
                    },
                    "lineItems": {
                      "type": "array",
                      "description": "Details about each product or service in the order, including points rewarded.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productId": { 
                            "type": "string",
                            "description": "Unique identifier for the product or service.",
                            "example": "PROD98765"
                          },
                          "quantity": { 
                            "type": "number",
                            "description": "Number of units purchased for this product or service.",
                            "example": 2
                          },
                          "decimalPoints": { 
                            "type": "number",
                            "description": "Fractional points rewarded for this line item.",
                            "example": 91.25
                          },
                          "points": { 
                            "type": "number",
                            "description": "Any points rewarded for this line item.",
                            "example": 91
                          },
                          "score": { 
                            "type": "number",
                            "description": "Any score awarded for the line item, if applicable.",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request" }
        }
      }
    },
    "/api/v4.0/integrations/orders/cashback": {
      "post": {
        "summary": "Calculate Order Cashback",
        "description": "This API calculates the cashback points to be rewarded for a specific order in Gameball, based on provided order details. It considers configured cashback rules and customer eligibility.\n\n**Security:** Requires `apiKey` header.\n\n**Channel Merging Available:** If your system uses different customer IDs across multiple channels (e.g., online and offline), Gameball's channel merging feature helps unify customer profiles. By including the customer's mobile number or email (based on your merging configuration) with each request, Gameball will combine activities into a single profile.\n\n**Important:** This API calculates the expected cashback points but does not perform any actual reward or action for the customer.",
        "operationId": "calculateOrderCashback",
        "tags": ["Orders"],
        "security": [ { "apiKey": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["totalPaid", "totalDiscount", "totalShipping"],
                "properties": {
                  "customerId": { 
                    "type": "string",
                    "description": "Unique identifier for the customer that you can reference across the customer's whole lifetime. Could be a database ID, random string, email or anything that uniquely identifies the customer. If provided, the cashback calculation will consider the customer's tier. Special tier-based configurations, such as enhanced point accrual rates, may affect the points calculation.",
                    "example": "cust_12345abc"
                  },
                  "email": { 
                    "type": "string",
                    "description": "Customer's email address. **Note:** This is required if your account uses email-based channel merging.",
                    "example": "john.doe@example.com"
                  },
                  "mobile": { 
                    "type": "string",
                    "description": "Customer's mobile number. **Note:** This is required if your account uses mobile-based channel merging.",
                    "example": "+1234567890"
                  },
                  "totalPaid": { 
                    "type": "number",
                    "description": "The actual amount paid by the customer for the order, accounting for any discounts or coupons applied. Unlike `totalPrice`, which reflects the original cost of the order, `totalPaid` represents the final amount the customer paid at checkout after all adjustments. This value is used for reward calculations in Gameball to determine the points or benefits earned from the order. **Example:** A customer purchases items worth $120, including taxes and shipping. If a $20 coupon is applied, the `totalPaid` becomes $100, reflecting the discounted amount the customer paid. This is the value used to calculate any points or rewards earned from the order.",
                    "example": 350
                  },
                  "totalPrice": { 
                    "type": "number",
                    "description": "The total cost of the order, including all item prices, shipping, taxes, and tips. This value does not account for any discounts or coupons applied and is not used for calculations in Gameball; it is solely saved as historical data linked to the order. Must be a positive value. **Example:** A customer purchases items worth $120, including taxes and shipping. Even if a $20 coupon is applied, the totalPrice remains $120 as it represents the original cost of the order before any discounts are applied.",
                    "example": 350
                  },
                  "totalDiscount": { 
                    "type": "number",
                    "description": "Total discount applied to the order. Must be positive.",
                    "minimum": 0,
                    "example": 0
                  },
                  "totalShipping": { 
                    "type": "number",
                    "description": "Total shipping cost for the order.",
                    "example": 0
                  },
                  "lineItems": {
                    "type": "array",
                    "description": "An array containing details about each product in the order. If not provided, the calculation will only consider the total order values.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": { 
                          "type": "string",
                          "description": "Unique identifier for the product or service being purchased.",
                          "example": "875511"
                        },
                        "quantity": { 
                          "type": "number",
                          "description": "Number of units purchased for this product or service.",
                          "example": 1
                        },
                        "price": { 
                          "type": "number",
                          "description": "The original price of a single product before any tax or discount is applied. This reflects the cost of one unit of the item, not the total for multiple quantities in an order. **Example:** If the original price of a product is $50 and a customer buys two units, the price for each item would still be recorded as $50, regardless of quantity.",
                          "example": 150
                        },
                        "sku": { 
                          "type": "string",
                          "description": "Stock Keeping Unit (SKU) for the product.",
                          "example": "sku123"
                        },
                        "tags": { 
                          "type": "array", 
                          "items": { "type": "string" },
                          "description": "Tags associated with the product for categorization or promotional purposes."
                        },
                        "category": { 
                          "type": "array", 
                          "items": { "type": "string" },
                          "description": "Product category, such as fashion or electronics. It can include one or multiple categories. Example: [\"natural\", \"cosmetics\"]"
                        },
                        "weight": { 
                          "type": "number",
                          "description": "Weight of the product."
                        },
                        "vendor": { 
                          "type": "string",
                          "description": "Vendor or manufacturer of the product."
                        },
                        "collection": { 
                          "type": "array", 
                          "items": { "type": "string" },
                          "description": "Collection ID(s) to which the product belongs. It can include one or multiple collections. Example: [\"14313\", \"4343\"]",
                          "example": ["123"]
                        },
                        "title": { 
                          "type": "string",
                          "description": "Product title or name."
                        },
                        "taxes": { 
                          "type": "number",
[...]
